.upload-spinner {
  padding-right: 0.5em;
}

.file-fail {
  display: block;
}

.chunksize_descriptor {
  background-color: #ddd;
  padding: 2px;
}

.fileinput-button:hover, .fileinput-button:focus {
    color: #fff !important;
    text-decoration: none;
}

#content a.delete, #content a.delete:hover {
  font-size: 85%;
  padding: 0.5em;
  color: white;
}

#content .btn {
  color: white !important;
}

#content ul#chunked_listing {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
}

/* add menu drop down */
#chunkedfile { display: none; }

.container { max-width: 100%; padding-left:0; padding-right:0}

.contenttype-chunkedfile {
  background: no-repeat transparent url('++resource++ims.upload/error.png');
  padding-left: 20px !important;
  padding-right: auto !important;
  display: inline-block;
  line-height: 2em;
}

#chunked_listing .contenttype-chunkedfile {
  line-height: 1.5em;
}

span.glyphicon-ok {
  color: #5CB85C !important;
}

span.glyphicon-remove {
  color: #FF0000 !important;
}

#chunked_listing li a {
  border-bottom: none !important;
}

#chunked_listing li a span {
  border-bottom: 1px solid #ccc;
}